<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Index</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">    
      <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <form action='/add_dojo' method='post'>
            {% csrf_token %}
            <h1>Add A Dojo</h1>
            Name: <input type='text' name='name'> <!--'name' is the key-->
            City: <input type='text' name='city'>
            State: <input type='text' name='state'>
            <button type='submit'>Add</button>
        </form>

        <form action='/add_ninja' method='post'>
            {% csrf_token %}
            <h1>Add A Ninja</h1>
            First Name: <input type='text' name='first_name'> <!--'name' is the key-->
            Last Name: <input type='text' name='last_name'>
            <p>
                Dojo
                <select name="dojo">
                  {% for i in dojos %} <!--dojos comes from views.py context-->
                  <option value="{{ i.id }}">{{ i.name }}</option>
                  {% endfor %}
                </select>
              </p>
            <button type='submit'>Add</button>
        </form>
        <hr>
        <h1>All the Dojos</h1>
         <ul>
          {% for dojo in dojos %}
          <li>
           <p>Ninjas at the {{ dojo.name }}</p> 
           <ul>
              {% for ninja in dojo.ninjas.all %}
<!--ninja = index; dojo can be find on models; ninjas means: a list
 of ninjas associate with the dojo --****dojo.ninjas.all****-->              
              <li>{{ ninja.first_name }} {{ninja.last_name}}</li>
              {% endfor %}
           </ul>
          </li>
          {% endfor %}
         </ul>
    </body>   
   </html>
